:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  background-color: #ffffff;

  --primary-color: #4CAF50;
  --secondary-color: #2196F3;
  --text-color: #333;
  --accent-color: #FF9800;
  --light-gray: #E0E0E0;
  --dark-mode-bg: #121212;
  --dark-mode-text: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: rgb(255, 255, 255);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


/* "dark-mode": "ligth-mode" */
.dark-mode {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-text);
}
.light-mode {
  background-color: #ffffff;
  color: #222;
}

/* Home Page */
.home-main {
  /* display: flex-start;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  padding: 30px;
}
.home-tasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.home-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.home-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.btn {
  background-color: #6200ea;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #3700b3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.btn:active {
  background-color: #03dac5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Task input */
.task-input{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
}
.task-input p {
  margin-bottom: 5px;
}
.task-input form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.task-input input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
.task-input button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Task list */
.task-list {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-list h1 {
  margin-bottom: 20px;
}
.task-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.task-list li {
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-list input {
  margin-right: 10px;
}

.task-list button {
  padding: 10px 20px;
  background-color: #7a7170;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.task-list button:hover {
  background-color: #6b6160;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

