:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  background-color: #ffffff;

  --primary-color: #4CAF50;
  --secondary-color: #007bff;
  --secondary-color-hover: #005cb8;
  --text-color: #333;
  --accent-color: #FF9800;
  --light-gray: #E0E0E0;
  --dark-mode-bg: #121212;
  --dark-mode-text: #FFFFFF;
  --btn-color: #6200ea;
  --btn-hover-color: #3700b3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: rgb(255, 255, 255);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


/* dark-mode */
.dark-mode {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-text);
}
.light-mode {
  background-color: #ffffff;
  color: #222;
}
.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #555;
  transition: color 0.3s ease;
}
.dark-mode-toggle:hover {
  color: #969393;
}

/* Home Page */
.home-main {
  padding: 30px;
}
.home-tasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.home-todo {
  width:fit-content;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.home-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.animated-paragraph {
  margin: 10px;
  padding: 10px 20px;
}
.home-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.home-list ul {
  list-style-type: decimal;
  margin: 10px;
  padding: 10px 20px;
}
.home-list li {
  padding-bottom: 5px;
  padding-left: 5px;
}
.home-list input {
  margin-right: 5px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  background: white;
  cursor: pointer;
  position: relative;
}
.home-list input:checked {
  background-color: var(--secondary-color);
}
.home-list input:checked::after {
  content: "✔";
  color: white;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

.btn {
  background-color: var(--btn-color);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: var(--btn-hover-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.btn:active {
  background-color: #03dac5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* to-do page */
.to-do-list {
  padding: 30px;
}
.to-do-header {
  display: flex;
  justify-content: space-between;
}
.to-do-list .link {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: #333;
  text-align: right;
  border: none;
  cursor: pointer;
}
.to-do-list .link:hover {
  color: var(--secondary-color);
  text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Task input */
.task-input{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding-left: 30px;
  padding-right: 30px;
}
.task-input p {
  margin-bottom: 5px;
}
.task-input form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.task-input input {
  padding: 10px;
  padding-left: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
}
.task-input button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.task-input button:hover {
  background-color: #06a039;
  color: #2f4938;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Task list */
.task-list {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-list h1 {
  margin-bottom: 20px;
}
.task-list ul {
  list-style-type: none;;
  padding: 0;
  margin: 0;
}
.task-list ul li {
  margin-bottom: 10px;
  padding: 3px 6px 3px 6px;
  border-radius: 8px;
  border: 1px dotted #ccc;
  width: 450px;
}
.task-list li form, .task-list li .task-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.task-list li form input {
  margin-right: 10px;
  background-color: var(--light-gray);
  color: var(--text-color);
  padding: 5px;
  border: none;
  border-radius: 8px;
}
.task-list li .task-lists p{
  margin-right: 20px;
  width: 100px;
}
.task-lists p{
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.delete-btn {
  background-color: #b41e0d;
}
.delete-btn:hover {
  background-color: #b93729;
}
.edit-btn, .save-btn, .cancel-btn {
  background-color: var(--secondary-color);
}
.edit-btn:hover, .save-btn:hover, .cancel-btn:hover {
  background-color: var(--secondary-color-hover);
}

.task-list button {
  padding: 10px 20px;
  margin-left: 3px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.task-list button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

